Import libraries and read data

In [49]:
import pandas as pd
import numpy as np
import math
from sklearn.model_selection import train_test_split

In [50]:
df=pd.read_csv("/content/drive/MyDrive/01Exercise1.csv")
print(df.head())
df.shape

  gender married   ch  income  loanamt status
0   Male      No  1.0    5849      NaN      Y
1   Male     Yes  1.0    4583    128.0      N
2   Male     Yes  1.0    3000     66.0      Y
3   Male     Yes  1.0    2583    120.0      Y
4   Male      No  1.0    6000    141.0      Y

(614, 6)

In [51]:
#Data Pre processing
#Make a copy for analysis if needed at a later time
df_prep=df.copy()

#Find missing row count
df_prep.isnull().sum(axis=0)

gender     13
married     3
ch         50
income      0
loanamt    22
status      0
dtype: int64

In [52]:
#dop na as count is not significant
df_prep=df_prep.dropna()
df_prep.shape

(529, 6)

In [53]:
df_prep.isnull().sum(axis=0)

gender     0
married    0
ch         0
income     0
loanamt    0
status     0
dtype: int64

In [54]:
#gender is not a reasonable column to consider,can be dropped
df_prep=df_prep.drop(['gender'],axis=1)

In [55]:
#create dummy variables for married,ch(credit history),status. 
df_prep.dtypes

married     object
ch         float64
income       int64
loanamt    float64
status      object
dtype: object

In [56]:
df_prep=pd.get_dummies(df_prep,drop_first=True)

In [57]:
#normalize loanamt and income
#normalization is ideally done on train data as the 1st step after split, and transformed on test data. hence this is an exception(for practice only) 
from sklearn.preprocessing import StandardScaler
scaler=StandardScaler()
df_prep['income']=scaler.fit_transform(df_prep[['income']])
df_prep['loanamt']=scaler.fit_transform(df_prep[['loanamt']])
df_prep.head()

    ch    income   loanamt  married_Yes  status_Y
1  1.0 -0.128073 -0.194250            1         0
2  1.0 -0.392077 -0.971015            1         1
3  1.0 -0.461621 -0.294478            1         1
4  1.0  0.108246 -0.031380            0         1
5  1.0  0.011017  1.547205            1         1

In [58]:
#Build Logistic Regression
X=df_prep.drop('status_Y',axis=1)
y=df_prep['status_Y']
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.3,stratify=y,random_state=1234)

In [59]:
from sklearn.linear_model import LogisticRegression
lr=LogisticRegression()
lr.fit(X_train,y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

In [60]:
y_pred=lr.predict(X_test)

In [61]:
#Build confusion matrix
from sklearn.metrics import confusion_matrix
cm=confusion_matrix(y_test,y_pred)
cm

array([[ 29,  20],
       [  2, 108]])

In [62]:
lr.score(X_test,y_test)

0.8616352201257862